{:paths
 ["src/core"]

 :deps
 {com.cognitect/transit-clj                         {:mvn/version "1.0.324"}
  com.cognitect/transit-cljs                        {:mvn/version "0.8.264"}
  com.fulcrologic/fulcro                            {:mvn/version "3.4.16"}
  com.fulcrologic/fulcro-garden-css                 {:mvn/version "3.0.7"}
  com.fulcrologic/guardrails                        {:mvn/version "1.1.4"}
  com.taoensso/sente                                {:mvn/version "1.16.0"}
  com.wsscode/async                                 {:mvn/version "2021.01.15"}
  com.wsscode/fuzzy                                 {:mvn/version "1.0.0"}
  com.wsscode/pathom                                {:mvn/version "2.3.1"}
  com.wsscode/pathom-viz-connector                  {:mvn/version "2021.01.22"}
  com.wsscode/promesa-bridges                       {:mvn/version "2021.01.20"}
  com.wsscode/pathom3                               {:git/url "https://github.com/wilkerlucio/pathom3" :sha "ce9fdf506658500795cd7b8b6656aa40136b38ab"}
  lilactown/helix                                   {:mvn/version "0.0.15"}
  nextjournal.clojure-mode/nextjournal.clojure-mode {:git/url "https://github.com/nextjournal/clojure-mode" :sha "f46688eba79953648e7a8920ca79e48fc1414867"}
  org.clojure/clojure                               {:mvn/version "1.10.1"}
  org.clojure/clojurescript                         {:mvn/version "1.10.764"}}

 :aliases
 {:provided
  {:extra-deps {}}

  :dev
  {:extra-deps {binaryage/devtools   {:mvn/version "1.0.0"}
                thheller/shadow-cljs {:mvn/version "2.11.14"}}}

  :dev-ws
  {:extra-paths ["src/cards"]
   :extra-deps  {nubank/workspaces {:git/url "https://github.com/wilkerlucio/workspaces.git"
                                    :sha     "f9521f7b810b8dad9fe62a03a888a4e30044d07e"}}}

  :embed
  {:extra-paths ["src/embed"]}

  :electron
  {:extra-paths ["src/electron"]}}}
