{:paths
 ["src/core" "src/cards"]

 :deps
 {com.cognitect/transit-cljs       {:mvn/version "0.8.264"}
  com.cognitect/transit-clj        {:mvn/version "1.0.324"}
  com.fulcrologic/guardrails       {:mvn/version "0.0.12"}
  com.taoensso/sente               {:mvn/version "1.16.0"}
  com.wsscode/async                {:mvn/version "1.0.13"}
  com.wsscode/fuzzy                {:mvn/version "1.0.0"}
  com.wsscode/pathom-viz-connector {:mvn/version "2021.01.21-1"}
  lilactown/helix                  {:git/url "https://github.com/lilactown/helix" :sha "5785e9332534cb16da749699634556d573e44bb2"}}

 :aliases
 {:provided
  {:extra-deps {com.fulcrologic/fulcro    {:mvn/version "3.4.14"}
                com.wsscode/pathom        {:mvn/version "2.3.1"}
                com.wsscode/pathom3       {:git/url "https://github.com/wilkerlucio/pathom3" :sha "07093ccb2cd22f06e74b8442dff3f7faacc5c297"}
                org.clojure/clojure       {:mvn/version "1.10.1"}
                org.clojure/clojurescript {:mvn/version "1.10.764"}}}

  :dev
  {:extra-deps {binaryage/devtools   {:mvn/version "1.0.0"}
                thheller/shadow-cljs {:mvn/version "2.11.14"}
                nubank/workspaces    {:git/url "https://github.com/wilkerlucio/workspaces.git"
                                      :sha     "f9521f7b810b8dad9fe62a03a888a4e30044d07e"}}}

  :embed
  {:extra-paths ["src/embed"]}

  :electron
  {:extra-paths ["src/electron"]}}}
