{:deps   {:aliases [:provided :dev :electron :embed]}
 :builds {:workspaces          {:target     nubank.workspaces.shadow-cljs.target
                                :ns-regexp  "-(test|cards)$"
                                :output-dir "workspaces/assets/js"
                                :asset-path "/js"
                                :dev        {:compiler-options {:external-config {:guardrails {:throw? false}}}}
                                :devtools   {:preloads  [devtools.preload com.fulcrologic.fulcro.inspect.preload]
                                             :http-root "workspaces/assets"
                                             :http-port 8086}}

          :embed               {:target           :browser
                                :output-dir       "shells/embed/js"
                                :asset-path       "/js"
                                :modules          {:main {:entries [com.wsscode.pathom.viz.embed.main]}}
                                :devtools         {:preloads  [devtools.preload fulcro.inspect.preload]
                                                   :http-root "shells/embed"
                                                   :http-port 8087}}

          :electron-background {:target           :node-script
                                :main             com.wsscode.pathom.viz.electron.background.main/init
                                :dev              {:compiler-options {:external-config {:guardrails {:throw? false}}}
                                                   :closure-defines  {com.wsscode.pathom.viz.electron.background.main/DEV true}}
                                :compiler-options {:optimizations :simple}
                                :output-to        "shells/electron/js/background/main.js"}

          :electron-renderer   {:target           :browser
                                :modules          {:main {:entries [com.wsscode.pathom.viz.electron.renderer.main]}}
                                :dev              {:compiler-options {:external-config {:guardrails {:throw? false}}}}
                                :devtools         {:preloads     [devtools.preload com.fulcrologic.fulcro.inspect.websocket-preload]}
                                :compiler-options {:optimizations :simple}
                                :output-dir       "shells/electron/js/renderer"
                                :asset-path       "js/renderer"}}}
