{:deps   {:aliases [:provided :dev]}
 :nrepl  {:port 59122}
 :builds {:workspaces {:target           nubank.workspaces.shadow-cljs.target
                       :ns-regexp        "-(test|cards)$"
                       :output-dir       "workspaces/assets/js"
                       :asset-path       "/js"
                       :compiler-options {:external-config {:ghostwheel {:ghostwheel.core/outstrument true}}}
                       :devtools         {:preloads  [devtools.preload fulcro.inspect.preload]
                                          :http-root "workspaces/assets"
                                          :http-port 8086}}
          :standalone {:target       :browser
                       :output-dir   "standalone/assets/js"
                       :asset-path   "/js"
                       :modules    {:main {:init-fn com.wsscode.pathom.viz.standalone/init}}
                       :compiler-options {:optimizations :simple}
                       :devtools   {:preloads  [devtools.preload fulcro.inspect.preload]
                                    :http-root "standalone/assets"
                                    :http-port 8087
                                    :proxy-url "http://localhost:8890"}}}}
