/* BASICS */

.CodeMirror {
    /* Set height, width, borders, and global font properties here */
    font-family: monospace;
    height: 100% !important;
    width: 100% !important;
    color: black;
}


/* PADDING */

.CodeMirror-lines {
    padding: 4px 0; /* Vertical padding around content */
}
.CodeMirror pre {
    padding: 0 4px; /* Horizontal padding of content */
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
    background-color: white; /* The little square between H and V scrollbars */
}

/* GUTTER */

.CodeMirror-gutters {
    border-right: 1px solid #ddd;
    background-color: #f7f7f7;
    white-space: nowrap;
}
.CodeMirror-linenumbers {}
.CodeMirror-linenumber {
    padding: 0 3px 0 5px;
    min-width: 20px;
    text-align: right;
    color: #999;
    white-space: nowrap;
}

.CodeMirror-guttermarker { color: black; }
.CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

.CodeMirror-cursor {
    border-left: 1px solid black;
    border-right: none;
    width: 0;
}
/* Shown when moving in bi-directional text */
.CodeMirror div.CodeMirror-secondarycursor {
    border-left: 1px solid silver;
}
.cm-fat-cursor .CodeMirror-cursor {
    width: auto;
    border: 0 !important;
    background: #7e7;
}
.cm-fat-cursor div.CodeMirror-cursors {
    z-index: 1;
}

.cm-animate-fat-cursor {
    width: auto;
    border: 0;
    -webkit-animation: blink 1.06s steps(1) infinite;
    -moz-animation: blink 1.06s steps(1) infinite;
    animation: blink 1.06s steps(1) infinite;
    background-color: #7e7;
}
@-moz-keyframes blink {
    0% {}
    50% { background-color: transparent; }
    100% {}
}
@-webkit-keyframes blink {
    0% {}
    50% { background-color: transparent; }
    100% {}
}
@keyframes blink {
    0% {}
    50% { background-color: transparent; }
    100% {}
}

/* Can style cursor different in overwrite (non-insert) mode */
.CodeMirror-overwrite .CodeMirror-cursor {}

.cm-tab { display: inline-block; text-decoration: inherit; }

.CodeMirror-rulers {
    position: absolute;
    left: 0; right: 0; top: -50px; bottom: -20px;
    overflow: hidden;
}
.CodeMirror-ruler {
    border-left: 1px solid #ccc;
    top: 0; bottom: 0;
    position: absolute;
}

/* DEFAULT THEME */

.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #090;}
.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-keyword {color: #708;}
.cm-s-default .cm-atom {color: #219;}
.cm-s-default .cm-number {color: #164;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {}
.cm-s-default .cm-variable-2 {color: #05a;}
.cm-s-default .cm-variable-3, .cm-s-default .cm-type {color: #085;}
.cm-s-default .cm-comment {color: #a50;}
.cm-s-default .cm-string {color: #a11;}
.cm-s-default .cm-string-2 {color: #f50;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #997;}
.cm-s-default .cm-tag {color: #170;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #00c;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}

.CodeMirror-composing { border-bottom: 2px solid; }

/* Default styles for common addons */

div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
.CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
.CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

.CodeMirror {
    position: relative;
    overflow: hidden;
    background: white;
}

.CodeMirror-scroll {
    overflow: scroll !important; /* Things will break if this is overridden */
    /* 30px is the magic margin used to hide the element's real scrollbars */
    /* See overflow: hidden in .CodeMirror */
    margin-bottom: -30px; margin-right: -30px;
    padding-bottom: 30px;
    height: 100%;
    outline: none; /* Prevent dragging from highlighting the element */
    position: relative;
}
.CodeMirror-sizer {
    position: relative;
    border-right: 30px solid transparent;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actual scrolling happens, thus preventing shaking and
   flickering artifacts. */
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
    position: absolute;
    z-index: 6;
    display: none;
}
.CodeMirror-vscrollbar {
    right: 0; top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
.CodeMirror-hscrollbar {
    bottom: 0; left: 0;
    overflow-y: hidden;
    overflow-x: scroll;
}
.CodeMirror-scrollbar-filler {
    right: 0; bottom: 0;
}
.CodeMirror-gutter-filler {
    left: 0; bottom: 0;
}

.CodeMirror-gutters {
    position: absolute; left: 0; top: 0;
    min-height: 100%;
    z-index: 3;
}
.CodeMirror-gutter {
    white-space: normal;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: -30px;
}
.CodeMirror-gutter-wrapper {
    position: absolute;
    z-index: 4;
    background: none !important;
    border: none !important;
}
.CodeMirror-gutter-background {
    position: absolute;
    top: 0; bottom: 0;
    z-index: 4;
}
.CodeMirror-gutter-elt {
    position: absolute;
    cursor: default;
    z-index: 4;
}
.CodeMirror-gutter-wrapper ::selection { background-color: transparent }
.CodeMirror-gutter-wrapper ::-moz-selection { background-color: transparent }

.CodeMirror-lines {
    cursor: text;
    min-height: 1px; /* prevents collapsing before first draw */
}
.CodeMirror pre {
    /* Reset some styles that the rest of the page might have set */
    -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
    border-width: 0;
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    white-space: pre;
    word-wrap: normal;
    line-height: inherit;
    color: inherit;
    z-index: 2;
    position: relative;
    overflow: visible;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-variant-ligatures: contextual;
    font-variant-ligatures: contextual;
}
.CodeMirror-wrap pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal;
}

.CodeMirror-linebackground {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    z-index: 0;
}

.CodeMirror-linewidget {
    position: relative;
    z-index: 2;
    overflow: auto;
}

.CodeMirror-widget {}

.CodeMirror-rtl pre { direction: rtl; }

.CodeMirror-code {
    outline: none;
}

/* Force content-box sizing for the elements where we expect it */
.CodeMirror-scroll,
.CodeMirror-sizer,
.CodeMirror-gutter,
.CodeMirror-gutters,
.CodeMirror-linenumber {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.CodeMirror-measure {
    position: absolute;
    width: 100%;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.CodeMirror-cursor {
    position: absolute;
    pointer-events: none;
}
.CodeMirror-measure pre { position: static; }

div.CodeMirror-cursors {
    visibility: hidden;
    position: relative;
    z-index: 3;
}
div.CodeMirror-dragcursors {
    visibility: visible;
}

.CodeMirror-focused div.CodeMirror-cursors {
    visibility: visible;
}

.CodeMirror-selected { background: #d9d9d9; }
.CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
.CodeMirror-crosshair { cursor: crosshair; }
.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection { background: #d7d4f0; }
.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection { background: #d7d4f0; }

.cm-searching {
    background-color: #ffa;
    background-color: rgba(255, 255, 0, .4);
}

/* Used to force a border model for a node */
.cm-force-border { padding-right: .1px; }

@media print {
    /* Hide the cursor when printing */
    .CodeMirror div.CodeMirror-cursors {
        visibility: hidden;
    }
}

/* See issue #2901 */
.cm-tab-wrap-hack:after { content: ''; }

/* Help users use markselection to safely style text background */
span.CodeMirror-selectedtext { background: none; }

.CodeMirror-hints {
    position: absolute;
    z-index: 10;
    overflow: hidden;
    list-style: none;

    margin: 0;
    padding: 2px;

    -webkit-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    box-shadow: 2px 3px 5px rgba(0,0,0,.2);
    border-radius: 3px;
    border: 1px solid silver;

    background: white;
    font-size: 90%;
    font-family: monospace;

    max-height: 20em;
    overflow-y: auto;
}

.CodeMirror-hint {
    margin: 0;
    padding: 0 4px;
    border-radius: 2px;
    white-space: pre;
    color: black;
    cursor: pointer;
}

li.CodeMirror-hint-active {
    background: #08f;
    color: white;
}

/* CM6 */

.ͼ1.ͼm .cm-line {
    font-size: 13px;
    white-space: pre;
}

.ͼ1.ͼm .cm-gutters {
    border-right: 1px solid #ddd;
    background-color: #f7f7f7;
    padding-right: 4px;
}

.cm-wrap {
    overflow: auto;
    flex: 1;
}


/* Random Stuff */

.m-0 {
    margin: 0px;
}

.m-1 {
    margin: 0.25rem;
}

.m-2 {
    margin: 0.5rem;
}

.m-3 {
    margin: 0.75rem;
}

.m-4 {
    margin: 1rem;
}

.m-5 {
    margin: 1.25rem;
}

.m-6 {
    margin: 1.5rem;
}

.m-7 {
    margin: 1.75rem;
}

.m-8 {
    margin: 2rem;
}

.m-9 {
    margin: 2.25rem;
}

.m-10 {
    margin: 2.5rem;
}

.m-11 {
    margin: 2.75rem;
}

.m-12 {
    margin: 3rem;
}

.m-14 {
    margin: 3.5rem;
}

.m-16 {
    margin: 4rem;
}

.m-20 {
    margin: 5rem;
}

.m-24 {
    margin: 6rem;
}

.m-28 {
    margin: 7rem;
}

.m-32 {
    margin: 8rem;
}

.m-36 {
    margin: 9rem;
}

.m-40 {
    margin: 10rem;
}

.m-44 {
    margin: 11rem;
}

.m-48 {
    margin: 12rem;
}

.m-52 {
    margin: 13rem;
}

.m-56 {
    margin: 14rem;
}

.m-60 {
    margin: 15rem;
}

.m-64 {
    margin: 16rem;
}

.m-72 {
    margin: 18rem;
}

.m-80 {
    margin: 20rem;
}

.m-96 {
    margin: 24rem;
}

.m-auto {
    margin: auto;
}

.m-px {
    margin: 1px;
}

.m-0\.5 {
    margin: 0.125rem;
}

.m-1\.5 {
    margin: 0.375rem;
}

.m-2\.5 {
    margin: 0.625rem;
}

.m-3\.5 {
    margin: 0.875rem;
}

.-m-0 {
    margin: 0px;
}

.-m-1 {
    margin: -0.25rem;
}

.-m-2 {
    margin: -0.5rem;
}

.-m-3 {
    margin: -0.75rem;
}

.-m-4 {
    margin: -1rem;
}

.-m-5 {
    margin: -1.25rem;
}

.-m-6 {
    margin: -1.5rem;
}

.-m-7 {
    margin: -1.75rem;
}

.-m-8 {
    margin: -2rem;
}

.-m-9 {
    margin: -2.25rem;
}

.-m-10 {
    margin: -2.5rem;
}

.-m-11 {
    margin: -2.75rem;
}

.-m-12 {
    margin: -3rem;
}

.-m-14 {
    margin: -3.5rem;
}

.-m-16 {
    margin: -4rem;
}

.-m-20 {
    margin: -5rem;
}

.-m-24 {
    margin: -6rem;
}

.-m-28 {
    margin: -7rem;
}

.-m-32 {
    margin: -8rem;
}

.-m-36 {
    margin: -9rem;
}

.-m-40 {
    margin: -10rem;
}

.-m-44 {
    margin: -11rem;
}

.-m-48 {
    margin: -12rem;
}

.-m-52 {
    margin: -13rem;
}

.-m-56 {
    margin: -14rem;
}

.-m-60 {
    margin: -15rem;
}

.-m-64 {
    margin: -16rem;
}

.-m-72 {
    margin: -18rem;
}

.-m-80 {
    margin: -20rem;
}

.-m-96 {
    margin: -24rem;
}

.-m-px {
    margin: -1px;
}

.-m-0\.5 {
    margin: -0.125rem;
}

.-m-1\.5 {
    margin: -0.375rem;
}

.-m-2\.5 {
    margin: -0.625rem;
}

.-m-3\.5 {
    margin: -0.875rem;
}

.my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.mx-0 {
    margin-left: 0px;
    margin-right: 0px;
}

.my-1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.mx-1 {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.mx-3 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.my-5 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.mx-5 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.mx-6 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.my-7 {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
}

.mx-7 {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
}

.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.mx-8 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.my-9 {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}

.mx-9 {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
}

.my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.mx-10 {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.my-11 {
    margin-top: 2.75rem;
    margin-bottom: 2.75rem;
}

.mx-11 {
    margin-left: 2.75rem;
    margin-right: 2.75rem;
}

.my-12 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.mx-12 {
    margin-left: 3rem;
    margin-right: 3rem;
}

.my-14 {
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

.mx-14 {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

.my-16 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.mx-16 {
    margin-left: 4rem;
    margin-right: 4rem;
}

.my-20 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.mx-20 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.my-24 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.mx-24 {
    margin-left: 6rem;
    margin-right: 6rem;
}

.my-28 {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.mx-28 {
    margin-left: 7rem;
    margin-right: 7rem;
}

.my-32 {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.mx-32 {
    margin-left: 8rem;
    margin-right: 8rem;
}

.my-36 {
    margin-top: 9rem;
    margin-bottom: 9rem;
}

.mx-36 {
    margin-left: 9rem;
    margin-right: 9rem;
}

.my-40 {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.mx-40 {
    margin-left: 10rem;
    margin-right: 10rem;
}

.my-44 {
    margin-top: 11rem;
    margin-bottom: 11rem;
}

.mx-44 {
    margin-left: 11rem;
    margin-right: 11rem;
}

.my-48 {
    margin-top: 12rem;
    margin-bottom: 12rem;
}

.mx-48 {
    margin-left: 12rem;
    margin-right: 12rem;
}

.my-52 {
    margin-top: 13rem;
    margin-bottom: 13rem;
}

.mx-52 {
    margin-left: 13rem;
    margin-right: 13rem;
}

.my-56 {
    margin-top: 14rem;
    margin-bottom: 14rem;
}

.mx-56 {
    margin-left: 14rem;
    margin-right: 14rem;
}

.my-60 {
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.mx-60 {
    margin-left: 15rem;
    margin-right: 15rem;
}

.my-64 {
    margin-top: 16rem;
    margin-bottom: 16rem;
}

.mx-64 {
    margin-left: 16rem;
    margin-right: 16rem;
}

.my-72 {
    margin-top: 18rem;
    margin-bottom: 18rem;
}

.mx-72 {
    margin-left: 18rem;
    margin-right: 18rem;
}

.my-80 {
    margin-top: 20rem;
    margin-bottom: 20rem;
}

.mx-80 {
    margin-left: 20rem;
    margin-right: 20rem;
}

.my-96 {
    margin-top: 24rem;
    margin-bottom: 24rem;
}

.mx-96 {
    margin-left: 24rem;
    margin-right: 24rem;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-px {
    margin-top: 1px;
    margin-bottom: 1px;
}

.mx-px {
    margin-left: 1px;
    margin-right: 1px;
}

.my-0\.5 {
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
}

.mx-0\.5 {
    margin-left: 0.125rem;
    margin-right: 0.125rem;
}

.my-1\.5 {
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
}

.mx-1\.5 {
    margin-left: 0.375rem;
    margin-right: 0.375rem;
}

.my-2\.5 {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}

.mx-2\.5 {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}

.my-3\.5 {
    margin-top: 0.875rem;
    margin-bottom: 0.875rem;
}

.mx-3\.5 {
    margin-left: 0.875rem;
    margin-right: 0.875rem;
}

.-my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.-mx-0 {
    margin-left: 0px;
    margin-right: 0px;
}

.-my-1 {
    margin-top: -0.25rem;
    margin-bottom: -0.25rem;
}

.-mx-1 {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
}

.-my-2 {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

.-mx-2 {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.-my-3 {
    margin-top: -0.75rem;
    margin-bottom: -0.75rem;
}

.-mx-3 {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.-my-4 {
    margin-top: -1rem;
    margin-bottom: -1rem;
}

.-mx-4 {
    margin-left: -1rem;
    margin-right: -1rem;
}

.-my-5 {
    margin-top: -1.25rem;
    margin-bottom: -1.25rem;
}

.-mx-5 {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
}

.-my-6 {
    margin-top: -1.5rem;
    margin-bottom: -1.5rem;
}

.-mx-6 {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.-my-7 {
    margin-top: -1.75rem;
    margin-bottom: -1.75rem;
}

.-mx-7 {
    margin-left: -1.75rem;
    margin-right: -1.75rem;
}

.-my-8 {
    margin-top: -2rem;
    margin-bottom: -2rem;
}

.-mx-8 {
    margin-left: -2rem;
    margin-right: -2rem;
}

.-my-9 {
    margin-top: -2.25rem;
    margin-bottom: -2.25rem;
}

.-mx-9 {
    margin-left: -2.25rem;
    margin-right: -2.25rem;
}

.-my-10 {
    margin-top: -2.5rem;
    margin-bottom: -2.5rem;
}

.-mx-10 {
    margin-left: -2.5rem;
    margin-right: -2.5rem;
}

.-my-11 {
    margin-top: -2.75rem;
    margin-bottom: -2.75rem;
}

.-mx-11 {
    margin-left: -2.75rem;
    margin-right: -2.75rem;
}

.-my-12 {
    margin-top: -3rem;
    margin-bottom: -3rem;
}

.-mx-12 {
    margin-left: -3rem;
    margin-right: -3rem;
}

.-my-14 {
    margin-top: -3.5rem;
    margin-bottom: -3.5rem;
}

.-mx-14 {
    margin-left: -3.5rem;
    margin-right: -3.5rem;
}

.-my-16 {
    margin-top: -4rem;
    margin-bottom: -4rem;
}

.-mx-16 {
    margin-left: -4rem;
    margin-right: -4rem;
}

.-my-20 {
    margin-top: -5rem;
    margin-bottom: -5rem;
}

.-mx-20 {
    margin-left: -5rem;
    margin-right: -5rem;
}

.-my-24 {
    margin-top: -6rem;
    margin-bottom: -6rem;
}

.-mx-24 {
    margin-left: -6rem;
    margin-right: -6rem;
}

.-my-28 {
    margin-top: -7rem;
    margin-bottom: -7rem;
}

.-mx-28 {
    margin-left: -7rem;
    margin-right: -7rem;
}

.-my-32 {
    margin-top: -8rem;
    margin-bottom: -8rem;
}

.-mx-32 {
    margin-left: -8rem;
    margin-right: -8rem;
}

.-my-36 {
    margin-top: -9rem;
    margin-bottom: -9rem;
}

.-mx-36 {
    margin-left: -9rem;
    margin-right: -9rem;
}

.-my-40 {
    margin-top: -10rem;
    margin-bottom: -10rem;
}

.-mx-40 {
    margin-left: -10rem;
    margin-right: -10rem;
}

.-my-44 {
    margin-top: -11rem;
    margin-bottom: -11rem;
}

.-mx-44 {
    margin-left: -11rem;
    margin-right: -11rem;
}

.-my-48 {
    margin-top: -12rem;
    margin-bottom: -12rem;
}

.-mx-48 {
    margin-left: -12rem;
    margin-right: -12rem;
}

.-my-52 {
    margin-top: -13rem;
    margin-bottom: -13rem;
}

.-mx-52 {
    margin-left: -13rem;
    margin-right: -13rem;
}

.-my-56 {
    margin-top: -14rem;
    margin-bottom: -14rem;
}

.-mx-56 {
    margin-left: -14rem;
    margin-right: -14rem;
}

.-my-60 {
    margin-top: -15rem;
    margin-bottom: -15rem;
}

.-mx-60 {
    margin-left: -15rem;
    margin-right: -15rem;
}

.-my-64 {
    margin-top: -16rem;
    margin-bottom: -16rem;
}

.-mx-64 {
    margin-left: -16rem;
    margin-right: -16rem;
}

.-my-72 {
    margin-top: -18rem;
    margin-bottom: -18rem;
}

.-mx-72 {
    margin-left: -18rem;
    margin-right: -18rem;
}

.-my-80 {
    margin-top: -20rem;
    margin-bottom: -20rem;
}

.-mx-80 {
    margin-left: -20rem;
    margin-right: -20rem;
}

.-my-96 {
    margin-top: -24rem;
    margin-bottom: -24rem;
}

.-mx-96 {
    margin-left: -24rem;
    margin-right: -24rem;
}

.-my-px {
    margin-top: -1px;
    margin-bottom: -1px;
}

.-mx-px {
    margin-left: -1px;
    margin-right: -1px;
}

.-my-0\.5 {
    margin-top: -0.125rem;
    margin-bottom: -0.125rem;
}

.-mx-0\.5 {
    margin-left: -0.125rem;
    margin-right: -0.125rem;
}

.-my-1\.5 {
    margin-top: -0.375rem;
    margin-bottom: -0.375rem;
}

.-mx-1\.5 {
    margin-left: -0.375rem;
    margin-right: -0.375rem;
}

.-my-2\.5 {
    margin-top: -0.625rem;
    margin-bottom: -0.625rem;
}

.-mx-2\.5 {
    margin-left: -0.625rem;
    margin-right: -0.625rem;
}

.-my-3\.5 {
    margin-top: -0.875rem;
    margin-bottom: -0.875rem;
}

.-mx-3\.5 {
    margin-left: -0.875rem;
    margin-right: -0.875rem;
}

.mt-0 {
    margin-top: 0px;
}

.mr-0 {
    margin-right: 0px;
}

.mb-0 {
    margin-bottom: 0px;
}

.ml-0 {
    margin-left: 0px;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mr-1 {
    margin-right: 0.25rem;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.ml-1 {
    margin-left: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.mt-3 {
    margin-top: 0.75rem;
}

.mr-3 {
    margin-right: 0.75rem;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.ml-3 {
    margin-left: 0.75rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mr-4 {
    margin-right: 1rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.ml-4 {
    margin-left: 1rem;
}

.mt-5 {
    margin-top: 1.25rem;
}

.mr-5 {
    margin-right: 1.25rem;
}

.mb-5 {
    margin-bottom: 1.25rem;
}

.ml-5 {
    margin-left: 1.25rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mr-6 {
    margin-right: 1.5rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.ml-6 {
    margin-left: 1.5rem;
}

.mt-7 {
    margin-top: 1.75rem;
}

.mr-7 {
    margin-right: 1.75rem;
}

.mb-7 {
    margin-bottom: 1.75rem;
}

.ml-7 {
    margin-left: 1.75rem;
}

.mt-8 {
    margin-top: 2rem;
}

.mr-8 {
    margin-right: 2rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.ml-8 {
    margin-left: 2rem;
}

.mt-9 {
    margin-top: 2.25rem;
}

.mr-9 {
    margin-right: 2.25rem;
}

.mb-9 {
    margin-bottom: 2.25rem;
}

.ml-9 {
    margin-left: 2.25rem;
}

.mt-10 {
    margin-top: 2.5rem;
}

.mr-10 {
    margin-right: 2.5rem;
}

.mb-10 {
    margin-bottom: 2.5rem;
}

.ml-10 {
    margin-left: 2.5rem;
}

.mt-11 {
    margin-top: 2.75rem;
}

.mr-11 {
    margin-right: 2.75rem;
}

.mb-11 {
    margin-bottom: 2.75rem;
}

.ml-11 {
    margin-left: 2.75rem;
}

.mt-12 {
    margin-top: 3rem;
}

.mr-12 {
    margin-right: 3rem;
}

.mb-12 {
    margin-bottom: 3rem;
}

.ml-12 {
    margin-left: 3rem;
}

.mt-14 {
    margin-top: 3.5rem;
}

.mr-14 {
    margin-right: 3.5rem;
}

.mb-14 {
    margin-bottom: 3.5rem;
}

.ml-14 {
    margin-left: 3.5rem;
}

.mt-16 {
    margin-top: 4rem;
}

.mr-16 {
    margin-right: 4rem;
}

.mb-16 {
    margin-bottom: 4rem;
}

.ml-16 {
    margin-left: 4rem;
}

.mt-20 {
    margin-top: 5rem;
}

.mr-20 {
    margin-right: 5rem;
}

.mb-20 {
    margin-bottom: 5rem;
}

.ml-20 {
    margin-left: 5rem;
}

.mt-24 {
    margin-top: 6rem;
}

.mr-24 {
    margin-right: 6rem;
}

.mb-24 {
    margin-bottom: 6rem;
}

.ml-24 {
    margin-left: 6rem;
}

.mt-28 {
    margin-top: 7rem;
}

.mr-28 {
    margin-right: 7rem;
}

.mb-28 {
    margin-bottom: 7rem;
}

.ml-28 {
    margin-left: 7rem;
}

.mt-32 {
    margin-top: 8rem;
}

.mr-32 {
    margin-right: 8rem;
}

.mb-32 {
    margin-bottom: 8rem;
}

.ml-32 {
    margin-left: 8rem;
}

.mt-36 {
    margin-top: 9rem;
}

.mr-36 {
    margin-right: 9rem;
}

.mb-36 {
    margin-bottom: 9rem;
}

.ml-36 {
    margin-left: 9rem;
}

.mt-40 {
    margin-top: 10rem;
}

.mr-40 {
    margin-right: 10rem;
}

.mb-40 {
    margin-bottom: 10rem;
}

.ml-40 {
    margin-left: 10rem;
}

.mt-44 {
    margin-top: 11rem;
}

.mr-44 {
    margin-right: 11rem;
}

.mb-44 {
    margin-bottom: 11rem;
}

.ml-44 {
    margin-left: 11rem;
}

.mt-48 {
    margin-top: 12rem;
}

.mr-48 {
    margin-right: 12rem;
}

.mb-48 {
    margin-bottom: 12rem;
}

.ml-48 {
    margin-left: 12rem;
}

.mt-52 {
    margin-top: 13rem;
}

.mr-52 {
    margin-right: 13rem;
}

.mb-52 {
    margin-bottom: 13rem;
}

.ml-52 {
    margin-left: 13rem;
}

.mt-56 {
    margin-top: 14rem;
}

.mr-56 {
    margin-right: 14rem;
}

.mb-56 {
    margin-bottom: 14rem;
}

.ml-56 {
    margin-left: 14rem;
}

.mt-60 {
    margin-top: 15rem;
}

.mr-60 {
    margin-right: 15rem;
}

.mb-60 {
    margin-bottom: 15rem;
}

.ml-60 {
    margin-left: 15rem;
}

.mt-64 {
    margin-top: 16rem;
}

.mr-64 {
    margin-right: 16rem;
}

.mb-64 {
    margin-bottom: 16rem;
}

.ml-64 {
    margin-left: 16rem;
}

.mt-72 {
    margin-top: 18rem;
}

.mr-72 {
    margin-right: 18rem;
}

.mb-72 {
    margin-bottom: 18rem;
}

.ml-72 {
    margin-left: 18rem;
}

.mt-80 {
    margin-top: 20rem;
}

.mr-80 {
    margin-right: 20rem;
}

.mb-80 {
    margin-bottom: 20rem;
}

.ml-80 {
    margin-left: 20rem;
}

.mt-96 {
    margin-top: 24rem;
}

.mr-96 {
    margin-right: 24rem;
}

.mb-96 {
    margin-bottom: 24rem;
}

.ml-96 {
    margin-left: 24rem;
}

.mt-auto {
    margin-top: auto;
}

.mr-auto {
    margin-right: auto;
}

.mb-auto {
    margin-bottom: auto;
}

.ml-auto {
    margin-left: auto;
}

.mt-px {
    margin-top: 1px;
}

.mr-px {
    margin-right: 1px;
}

.mb-px {
    margin-bottom: 1px;
}

.ml-px {
    margin-left: 1px;
}

.mt-0\.5 {
    margin-top: 0.125rem;
}

.mr-0\.5 {
    margin-right: 0.125rem;
}

.mb-0\.5 {
    margin-bottom: 0.125rem;
}

.ml-0\.5 {
    margin-left: 0.125rem;
}

.mt-1\.5 {
    margin-top: 0.375rem;
}

.mr-1\.5 {
    margin-right: 0.375rem;
}

.mb-1\.5 {
    margin-bottom: 0.375rem;
}

.ml-1\.5 {
    margin-left: 0.375rem;
}

.mt-2\.5 {
    margin-top: 0.625rem;
}

.mr-2\.5 {
    margin-right: 0.625rem;
}

.mb-2\.5 {
    margin-bottom: 0.625rem;
}

.ml-2\.5 {
    margin-left: 0.625rem;
}

.mt-3\.5 {
    margin-top: 0.875rem;
}

.mr-3\.5 {
    margin-right: 0.875rem;
}

.mb-3\.5 {
    margin-bottom: 0.875rem;
}

.ml-3\.5 {
    margin-left: 0.875rem;
}

.-mt-0 {
    margin-top: 0px;
}

.-mr-0 {
    margin-right: 0px;
}

.-mb-0 {
    margin-bottom: 0px;
}

.-ml-0 {
    margin-left: 0px;
}

.-mt-1 {
    margin-top: -0.25rem;
}

.-mr-1 {
    margin-right: -0.25rem;
}

.-mb-1 {
    margin-bottom: -0.25rem;
}

.-ml-1 {
    margin-left: -0.25rem;
}

.-mt-2 {
    margin-top: -0.5rem;
}

.-mr-2 {
    margin-right: -0.5rem;
}

.-mb-2 {
    margin-bottom: -0.5rem;
}

.-ml-2 {
    margin-left: -0.5rem;
}

.-mt-3 {
    margin-top: -0.75rem;
}

.-mr-3 {
    margin-right: -0.75rem;
}

.-mb-3 {
    margin-bottom: -0.75rem;
}

.-ml-3 {
    margin-left: -0.75rem;
}

.-mt-4 {
    margin-top: -1rem;
}

.-mr-4 {
    margin-right: -1rem;
}

.-mb-4 {
    margin-bottom: -1rem;
}

.-ml-4 {
    margin-left: -1rem;
}

.-mt-5 {
    margin-top: -1.25rem;
}

.-mr-5 {
    margin-right: -1.25rem;
}

.-mb-5 {
    margin-bottom: -1.25rem;
}

.-ml-5 {
    margin-left: -1.25rem;
}

.-mt-6 {
    margin-top: -1.5rem;
}

.-mr-6 {
    margin-right: -1.5rem;
}

.-mb-6 {
    margin-bottom: -1.5rem;
}

.-ml-6 {
    margin-left: -1.5rem;
}

.-mt-7 {
    margin-top: -1.75rem;
}

.-mr-7 {
    margin-right: -1.75rem;
}

.-mb-7 {
    margin-bottom: -1.75rem;
}

.-ml-7 {
    margin-left: -1.75rem;
}

.-mt-8 {
    margin-top: -2rem;
}

.-mr-8 {
    margin-right: -2rem;
}

.-mb-8 {
    margin-bottom: -2rem;
}

.-ml-8 {
    margin-left: -2rem;
}

.-mt-9 {
    margin-top: -2.25rem;
}

.-mr-9 {
    margin-right: -2.25rem;
}

.-mb-9 {
    margin-bottom: -2.25rem;
}

.-ml-9 {
    margin-left: -2.25rem;
}

.-mt-10 {
    margin-top: -2.5rem;
}

.-mr-10 {
    margin-right: -2.5rem;
}

.-mb-10 {
    margin-bottom: -2.5rem;
}

.-ml-10 {
    margin-left: -2.5rem;
}

.-mt-11 {
    margin-top: -2.75rem;
}

.-mr-11 {
    margin-right: -2.75rem;
}

.-mb-11 {
    margin-bottom: -2.75rem;
}

.-ml-11 {
    margin-left: -2.75rem;
}

.-mt-12 {
    margin-top: -3rem;
}

.-mr-12 {
    margin-right: -3rem;
}

.-mb-12 {
    margin-bottom: -3rem;
}

.-ml-12 {
    margin-left: -3rem;
}

.-mt-14 {
    margin-top: -3.5rem;
}

.-mr-14 {
    margin-right: -3.5rem;
}

.-mb-14 {
    margin-bottom: -3.5rem;
}

.-ml-14 {
    margin-left: -3.5rem;
}

.-mt-16 {
    margin-top: -4rem;
}

.-mr-16 {
    margin-right: -4rem;
}

.-mb-16 {
    margin-bottom: -4rem;
}

.-ml-16 {
    margin-left: -4rem;
}

.-mt-20 {
    margin-top: -5rem;
}

.-mr-20 {
    margin-right: -5rem;
}

.-mb-20 {
    margin-bottom: -5rem;
}

.-ml-20 {
    margin-left: -5rem;
}

.-mt-24 {
    margin-top: -6rem;
}

.-mr-24 {
    margin-right: -6rem;
}

.-mb-24 {
    margin-bottom: -6rem;
}

.-ml-24 {
    margin-left: -6rem;
}

.-mt-28 {
    margin-top: -7rem;
}

.-mr-28 {
    margin-right: -7rem;
}

.-mb-28 {
    margin-bottom: -7rem;
}

.-ml-28 {
    margin-left: -7rem;
}

.-mt-32 {
    margin-top: -8rem;
}

.-mr-32 {
    margin-right: -8rem;
}

.-mb-32 {
    margin-bottom: -8rem;
}

.-ml-32 {
    margin-left: -8rem;
}

.-mt-36 {
    margin-top: -9rem;
}

.-mr-36 {
    margin-right: -9rem;
}

.-mb-36 {
    margin-bottom: -9rem;
}

.-ml-36 {
    margin-left: -9rem;
}

.-mt-40 {
    margin-top: -10rem;
}

.-mr-40 {
    margin-right: -10rem;
}

.-mb-40 {
    margin-bottom: -10rem;
}

.-ml-40 {
    margin-left: -10rem;
}

.-mt-44 {
    margin-top: -11rem;
}

.-mr-44 {
    margin-right: -11rem;
}

.-mb-44 {
    margin-bottom: -11rem;
}

.-ml-44 {
    margin-left: -11rem;
}

.-mt-48 {
    margin-top: -12rem;
}

.-mr-48 {
    margin-right: -12rem;
}

.-mb-48 {
    margin-bottom: -12rem;
}

.-ml-48 {
    margin-left: -12rem;
}

.-mt-52 {
    margin-top: -13rem;
}

.-mr-52 {
    margin-right: -13rem;
}

.-mb-52 {
    margin-bottom: -13rem;
}

.-ml-52 {
    margin-left: -13rem;
}

.-mt-56 {
    margin-top: -14rem;
}

.-mr-56 {
    margin-right: -14rem;
}

.-mb-56 {
    margin-bottom: -14rem;
}

.-ml-56 {
    margin-left: -14rem;
}

.-mt-60 {
    margin-top: -15rem;
}

.-mr-60 {
    margin-right: -15rem;
}

.-mb-60 {
    margin-bottom: -15rem;
}

.-ml-60 {
    margin-left: -15rem;
}

.-mt-64 {
    margin-top: -16rem;
}

.-mr-64 {
    margin-right: -16rem;
}

.-mb-64 {
    margin-bottom: -16rem;
}

.-ml-64 {
    margin-left: -16rem;
}

.-mt-72 {
    margin-top: -18rem;
}

.-mr-72 {
    margin-right: -18rem;
}

.-mb-72 {
    margin-bottom: -18rem;
}

.-ml-72 {
    margin-left: -18rem;
}

.-mt-80 {
    margin-top: -20rem;
}

.-mr-80 {
    margin-right: -20rem;
}

.-mb-80 {
    margin-bottom: -20rem;
}

.-ml-80 {
    margin-left: -20rem;
}

.-mt-96 {
    margin-top: -24rem;
}

.-mr-96 {
    margin-right: -24rem;
}

.-mb-96 {
    margin-bottom: -24rem;
}

.-ml-96 {
    margin-left: -24rem;
}

.-mt-px {
    margin-top: -1px;
}

.-mr-px {
    margin-right: -1px;
}

.-mb-px {
    margin-bottom: -1px;
}

.-ml-px {
    margin-left: -1px;
}

.-mt-0\.5 {
    margin-top: -0.125rem;
}

.-mr-0\.5 {
    margin-right: -0.125rem;
}

.-mb-0\.5 {
    margin-bottom: -0.125rem;
}

.-ml-0\.5 {
    margin-left: -0.125rem;
}

.-mt-1\.5 {
    margin-top: -0.375rem;
}

.-mr-1\.5 {
    margin-right: -0.375rem;
}

.-mb-1\.5 {
    margin-bottom: -0.375rem;
}

.-ml-1\.5 {
    margin-left: -0.375rem;
}

.-mt-2\.5 {
    margin-top: -0.625rem;
}

.-mr-2\.5 {
    margin-right: -0.625rem;
}

.-mb-2\.5 {
    margin-bottom: -0.625rem;
}

.-ml-2\.5 {
    margin-left: -0.625rem;
}

.-mt-3\.5 {
    margin-top: -0.875rem;
}

.-mr-3\.5 {
    margin-right: -0.875rem;
}

.-mb-3\.5 {
    margin-bottom: -0.875rem;
}

.-ml-3\.5 {
    margin-left: -0.875rem;
}
